header(class="navbar navbar-inverse navbar-fixed-top")

	.container

		.navbar-header
			a.navbar-brand(href="/admin/login") Blog Admin

		ul.nav.navbar-nav
			li: a(href="/admin/dashboard") Dashboard
			li: a(href="/admin/posts") Posts
			li: a(href="/admin/comments") Comments
			li: a(href="/admin/authors") Authors

		.navbar-right
			a(href="/admin/logout" class="btn btn-danger btn-sm sign_out") Sign Out

		ul.nav.navbar-nav.navbar-right
			li: a(href="/admin/administrators") Administrators