body {padding-top:50px; padding-bottom:20px;}
body.login {padding:0;}
header .sign_out {margin-top:10px;}
footer {margin-top:40px; padding-top:20px; border-top:1px solid #eee;}

.main_container h2 {margin-top:50px; margin-bottom:25px;}