!!!5
html.no-js
	head
		block title

		link(rel='stylesheet', href='/site/css/foundation.min.css')
		link(rel='stylesheet', href='/site/css/global.css')

	body(class='#{common.bodyClasses}')
		
		include /partials/global/header

		#container
			block content

		include /partials/global/footer

		script(src='/site/js/vendor/jquery.js')