extends /layouts/full_width

block title
	title Access denied (403) | Admin

block content

	.jumbotron
		.container
			h1 Access denied (403)
			p You're not allowed in here! Shoo! Off with you!
			if error.msg
				pre #{error.msg}
				hr
			if error.stack
				pre #{error.stack}
			a(href="/admin/dashboard" class="btn btn-lg btn-success") Go to Dashboard