extends /layouts/full_width

block title
	title Internal server error (500) | Admin

block content

	.jumbotron
		.container
			h1 Internal server error (500)
			p Sorry, but you've managed to break the app. Please forward the message below to a developer:
			if error.msg
				pre #{error.msg}
				hr
			if error.stack
				pre #{error.stack}
			a(href="/admin/dashboard" class="btn btn-lg btn-success") Go to Dashboard