extends /layouts/default

block title
	title Create Administrator | Admin

block content

	h2 Create Administrator

	include /partials/global/flash

	form(action="/admin/administrators/create" method="POST" class="form-horizontal")

		fieldset Please complete the fields below.
			
			hr

			.form-group
				label(for="admin_name" class="col-sm-2 control-label") Name
					include /partials/global/required
				.col-sm-10
					input(type="text" id="admin_name" name="name" placeholder="John" class="form-control")

			.form-group
				label(for="admin_surname" class="col-sm-2 control-label") Surname
					include /partials/global/required
				.col-sm-10
					input(type="text" id="admin_surname" name="surname" placeholder="Smith" class="form-control")

			.form-group
				label(for="admin_nickname" class="col-sm-2 control-label") Nickname
				.col-sm-10
					input(type="text" id="admin_nickname" name="nickname" placeholder="Smithy" class="form-control")

			.form-group
				label(for="admin_email" class="col-sm-2 control-label") E-mail Address
					include /partials/global/required
				.col-sm-10
					input(type="text" id="admin_email" name="email" placeholder="john.smith@superblog.com" class="form-control")

			.form-group
				label(for="admin_username" class="col-sm-2 control-label") Username
					include /partials/global/required
				.col-sm-10
					input(type="text" id="admin_username" name="username" placeholder="johnsmith" class="form-control")

			.form-group
				label(for="admin_password" class="col-sm-2 control-label") Password
					include /partials/global/required
				.col-sm-10
					input(type="password" id="admin_password" name="password" class="form-control")

			.form-group
				label(for="admin_confirm_password" class="col-sm-2 control-label") Confirm Password
					include /partials/global/required
				.col-sm-10
					input(type="password" id="admin_confirm_password" name="passwordConfirmed" class="form-control")

			.well
				button(type="submit" class="btn btn-primary") Create Administrator
				|&nbsp;&nbsp;
				a(href="/admin/administrators" class="btn btn-default") Cancel