extends /layouts/default

block title
	title Dashboard | SuperBlog Admin

block content
	.row
		.large-12.columns
			
			h2 Dashboard

			include /partials/global/flash
			
			p This is the dashboard.