extends /layouts/login

block title
	title Login | SuperBlog Admin 

block content
	.row(style="margin-top:80px;")
		.small-6.columns.small-centered(style="border:1px solid #ccc; overflow:hidden; padding:40px; border-radius:5px; box-shadow:5px 5px 0px 0px rgba(0,0,0,0.05);")
			
			h2 Login
			
			form(action="/admin/login" method="POST")
				
				legend Please enter your username and password to log in:
				
				hr
				
				label(for="username") Username
				input(type="text" id="username" placeholder="matt.damon@superblog.com")

				label(for="password") Password
				input(type="password" id="password")

				button(type="submit").right.small Log In