!!!5
html.no-js
	head
		block title
		
		link(rel='stylesheet', href='/admin/css/foundation.min.css')
		link(rel='stylesheet', href='/admin/css/global.css')

	body(class='#{common.bodyClasses}')

		#container
			block content

		script(src='/admin/js/vendor/jquery.js')